<h1 class="text-3xl">Sobre la aplicacion</h1>

<section>
  <p>
    Dolor elit sint ut aute mollit ad ullamco fugiat non. Fugiat Lorem nostrud est elit laboris dolor sint reprehenderit
    consectetur ipsum officia esse. Minim laboris consequat magna elit ipsum aliqua in ipsum ea consectetur. Laborum
    occaecat velit deserunt cupidatat. Anim dolor adipisicing consequat velit sit eu cillum cillum nulla dolor non. Duis
    enim consequat enim ea et aute. Ex cillum id ad ut ea id aliquip.
  </p>
</section>